pixels=360
stripsattached=6
swap=3
strip1=apa102
start1=00ff00
order1=rgb
strip2=apa102
start2=ffff00
order2=rgb
strip3=apa102
start3=00ffff
order3=rgb
strip4=apa102
start4=ff00ff
order4=rgb
strip5=apa102
start5=00ff00
order5=rgb
strip6=apa102
start6=00ff00
order6=rgb
ether=192.168.1.100
netmask=255.255.255.0
gateway=192.168.1.1
port=9897
group=1
controller=1
data_watchdog_time=180
